@font-face {
    font-family: 'Raleway';
    src: local('Raleway'), url(/fonts/Raleway.ttf) format('truetype');
}

* {
    font-family: Raleway;
    box-sizing: border-box;
}

html,
body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}

#__next {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
}
